        <item>
            <title>#TITLE#</title>
           <description>
<![CDATA[
#CHANGELOG#
    ]]>
            </description>
            <pubDate>#DATE#</pubDate>
            <enclosure sparkle:os="#OS#" url="#DOWNLOAD_MIRROR#/#SUBFOLDER#/#FILENAME#" sparkle:version="#VERSION#" length="#FILESIZE#" type="application/octet-stream" sparkle:dsaSignature="#DSASIGNATURE#" />
            <sparkle:minimumSystemVersion>10.8</sparkle:minimumSystemVersion>
        </item>
